# Model paths must be specified. Uses the last name/word in the dialog box title
MODELS='{
  "TUVOK": "/models/en_GB-alan-medium.onnx",
  "JANEWAY": "/models/en_GB-alan-medium.onnx",
  "CHAKOTAY": "/models/en_GB-alan-medium.onnx",
  "PARIS": "/models/en_GB-alan-medium.onnx",
  "KIM": "/models/en_GB-alan-medium.onnx",
  "TORRES": "/models/en_GB-alan-medium.onnx",
  "DOCTOR": "/models/en_GB-alan-medium.onnx",
  "SEVENOFNINE": "/models/en_GB-alan-medium.onnx"
}'

# The following are the default configuration settings
GAME_WINDOW_TITLE=Star Trek: Voyager
USE_CUDA=True
BOX_OFFSET_LEFT = 350
BOX_OFFSET_BOTTOM = 80
BOX_WIDTH = 1150
BOX_HEIGHT = 380
TERMINATE_COMMAND=<ctrl>+<alt>+<shift>+q

# Save the screen to the file system and read from it instead - showing what we capture
# Also plays the last saved image if the game is not running (or any other image with text)
IS_DEBUG=False
